body {background-color: black;
      color: white;
      min-height: 100vh;}

h1 {font-size: 50px;}

canvas {border: 2px solid white;}

button {color: red;
       padding: 10px;}

div {display: flex;
      flex-direction: row;
     gap: 10px;
     justify-content: center;}

aside{flex: 1;
      margin: 20px;}

main{flex: 3;}
