body {background-color: black;
      color: white;}

h1 {font-size: 50px;}

canvas {border: 2px solid white;}

button {color: red;
       padding: 10px;}

div {display: flex;
      flex-direction: row;}

aside{flex: 1;}

main{flex: 3;}
